.submit {
    background-color: #df6c01;
    border: 1px solid #df6c01;
    color: white;
    font-weight: 700;
    transition: all .3s;
    padding: 8px 16px;
    &:hover {
        background-color: white;
        color: #df6c01;
    }
}