.featuresCard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 16px auto;
}

.borderDiv {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: 200px;
    background-position: center 5%;
}

.divider {
    background-color: #f3520a;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}

.viewMoreButton {
    background-color: #f3520a;
    border: 1px solid #f3520a;
    border-radius: 2px;
    padding: 8px 24px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: all .3s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
        color: #f3520a;
        text-decoration: none;
        background-color: white;
    }
}