.headerWrapper {
    background: linear-gradient(to bottom, #fff 50%, #fae8da 50%);
}
.header {
    text-align: center;
}
.titleWrapper {
    border: 1px solid black;
    position: relative;
}
.title {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}
.mainImage {
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .titleWrapper {
        width: 35%;
    }
    .mainImage {
        height: 400px;
        width: 60%;
        bottom: -20px;
    }
}
